.jumbotron {
    background-color: yellow;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}

.btn2 {
    color: yellow;
    font-style: oblique;    
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px; /* especifica el ancho */
    /*padding: 2px 5px 2px 5px;*/
    margin-top: 10px;
}

.btn-reserva {
    /* boton vaya al fondo y ocupe todo el ancho*/
    width:  100%;
    border-radius: 0px;
}  

.footer-address-icon{
    padding-right: 10px;
}

.mrg{ 
    margin-top: 60px;   
    margin-bottom: 5px; 
}

.tab-content {
    padding-top: 10px;
}